@font-face {
    font-family: 'Netflix Sans';
    /* stylelint-disable-line declaration-property-value-blacklist */
    font-weight: normal;
    font-display: optional;
    src: url('https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2') format('woff2'), url('https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff') format('woff');
}

body {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
}

header {
    z-index: 10;
}

.logo{
    max-width: 100px;
}

.btn-login{
    background-color: #e50914;
    color: #fff;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 3px;
}

.btn-login:hover{
    text-decoration: none;
    color: #fff;
}

/* Inicio Home */

section {
    border-bottom: 9px solid #222;
}

.box-background, .box .content{
    height: 100vh;
}

.box .content h1{
    font-size: 50px;
}

.box .content h2{
    font-size: 30px;
}
.box .content h3{
    font-size: 20px;
}

.box .box-background img{
    width: 100%;
    height: 100%;
}

.box .box-background::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.4);
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(60%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);

}

.form-control {
    height: 60px;
}

/* Fim Home */

/* Inicio Aproveite na TV */
section .title{
    font-size: 50px;
}

section .subtitle{
    font-size: 25px;
}

.video-tv img{
    position: relative;
    z-index: 1;
}

.video-tv video{
    position: absolute;
    left: 13.5%;
    top: 20%;
    max-width: 72.5%;
}

/* Fim Aproveite na TV */

/* Inicio Baixe séries */

.mobile-card{
    position: absolute;
    left: 50%;
    bottom: 8%;
    margin: 0 auto;
    transform: translate(-50%); /* olhar funcionamento */
    background: black;
    width: 60%;
    min-width: 15em;
    padding: 0.25em 0.65em;
    border: 2px solid rgba(255,255,255, 0.25);
    box-shadow: 0 0 2em 0 #000000;
    border-radius: 0.75em;
}

.card-img-str{
    height: 80px;
}

.gifimg{
    height: 40px;
}

.mobile-card h5{
    font-size: 1rem;
}

.mobile-card label{
    font-size: 0.9em;
    color: #0071eb;
}

.content-str{
    margin-left: -250px;
}
/* Fim Aproveite na TV */

/* Inicio Assista quando quiser */
.video-tv2 img{
    position: relative; 
    z-index:1;
}

.video-tv2 video{
    position: absolute;
    left: 19%;
    top: 11%;
    max-width: 61%;
}
/* Fim Assista quando quiser */

/* Inicio perguntas frequentes */
.perguntas .accordion button{
    background: #303030;
    padding: 1.2rem 2.2rem 1.2rem 1.2rem;
    width: 100%;
    border: 0;
    text-align: left;
    outline: none;
    color: #fff;
    font-size: 1.625rem;
}

.perguntas .accordion button span{
   position: absolute;
   right: 25px;
   font-size: 4rem;
   line-height: 1.1rem;
   top: 25px;
}

.perguntas .accordion button[aria-expanded="true"] span {
    transform: rotate(135deg);
}


.perguntas .accordion .card-body{
    background-color: #303030;
    font-size: 15px;
    color: #fff;
    
}
/* Fim perguntas frequentes */


/* Inicio rodape */
footer, footer a{
    color: #757575;
}

footer a{
    font-size: 13px;
}

footer select{
    background-color: #000000;
    background-image: none;
    color: #fff;
    border: 1px solid #333333;
    font-size: 16px;
    padding: 17px;
    padding-left: 50px;
    padding-right: 26px;
    line-height: 1.7;
}

footer i{
    position: absolute;
    top: 23px;
    left: 15px;
    width: 16px;
}

.linkNet{
    margin-top: 20px;
}

/* fim rodape */